*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}
//
$text_color: #fff; 
$text_color--alt: #fff;

$color--prim1: hsl(216, 65%, 47%);
$color--prim2: hsl(236, 84%, 17%);
$color--prim3: hsl(236, 65%, 42%);

$color--sec1: #111;
$color--sec2: #222;
$color--sec3: #3e3;

$color--comp1: #3e3;
$color--comp2: #3e3;
$color--comp3: #3e3;

// NAVBAR VARIABLES
$nav__color: $color--sec1;
$nav__height: 14vh;

$bg__color: $color--sec1;
$bg__color2: $color--sec2;

%flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Secular One', sans-serif;
    color: $text_color;
    background-color: $bg__color;
    width: 100vw;
    // min-height: 100vh;
    // height: fit-content;
    // overflow: hidden;
}

h1 {
    font-size: 4em;
    line-height: 1em;
}
h2 {
    font-size: 4em;
    line-height: 1em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

.prim_colored {
    color: $color--prim1;
    &--2 {
        color: $color--prim2;
    }
}

.fl-row-c {
    display: flex;
    align-items: center;
    // justify-content: space-between;
}
.fl-column-c {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    color: $color--prim1;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4% 0 8%;
    height: $nav__height;
    z-index: 10;
    transition: 300ms;
    &__logo {
        flex: 1;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        flex: 5;
        > div.first {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 40px;
            flex: 5;
        }
    }

    &__ham {
        display: none;
    }
    &__search {
        display: flex;
        overflow: hidden;
        align-self: center;
        input {
            position: relative;
            transition: 700ms;
            z-index: 0;
            background: none;
            border: 1px solid transparent;
            border-bottom: 1px solid #fff;
            color: #fff;
            outline: none;
            transform: translate(120%, -10px);
            &:focus {
                border-bottom-color: $color--prim1;
            }
        }
        button {
            position: relative;
            z-index: 2;
            background: none;
            border: 1px solid transparent;
            color: #fff;
            border-radius: 0 10px 10px 0;
            padding: 10px;
            &:active {
                background-color: #cccc;
            }
        }
        &:hover, &:focus-within{
            input {
                transform: translate(0,-10px);
            }
            input:valid {
                transform: translate(0, -10px);
            }
        }
      
    }
    &__links {
        display: flex;
        align-items: center;
        list-style: none;
        cursor: pointer;
        gap: 30px;
     
    }


    &--small {
        height: 8vh;
        background-color: $nav__color;
    }
}

.sect {
    position: relative;
    min-height: 70vh;
    padding: 0 20px;
    &__heading {
        margin: 0;
        // MAKE HEADINGS CHANGE ON HOVER
        // UNDERLINE THE HEADINGS WITH PSEUDO
    }
    &__text {
        width: 38%;
        display: flex;
        // background-color: red;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        height: 40vh;
    }
    &__image {
        width: 600px;
        height: 400px;
        transform: scale(1.1);
    }
    &__desc {
        text-align: justify;
        width: 60%;
    }
    &__details {
        margin: 5% 0;
    }
    &__ctas {
        display: flex;
        gap: 10px;
    }


    &--prim {
        max-width: 95vw;
        margin: 20vh 0;
        padding: 5%;
        min-height: 8em;
        height: 70vh;
        justify-content: space-between;
        border-radius: 0 300px 300px 0;
        background-color: $color--prim1;
        overflow: visible;
    }
}

.hero {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    
    background-blend-mode: overlay;
    color: white;
    padding: 0 8%;
    height: 100vh;
    gap: 3em;
    position: relative;
    &__text {
        // flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10% 0;
        > * {
            margin-bottom: 10px;
        }
    }
    &__image {
        
        background-color: $color--prim1;
        height: 80vh;
        border-radius: 0 0 500px 500px;
        width: 45%;
        max-width: 1100px;
        overflow: hidden;
        position: relative;
    }
    &__img {
        &_bg {
            &--right {
                height: 100%;
                // width: 100%;
                position: relative;
                // top: -160px;
                
            }
        }
    }
    &__social_ctas {
        svg {
            height: 20px;
            transition: 200ms;
            &:hover {
                transform: translateY(-5px);
                color: $color--prim1;
            }
        }
    }
}

.btn {
    background: none;
    color: $text_color--alt;
    padding: 6px 20px;
    min-width: 100px;
    border-radius: 5px;
    border: 2px solid $color--prim1;
    background-color: $color--prim1;
    transition: 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
    &__icon {
        flex: 1;
    }
    &__text {
        flex: 3;
    }
    &--alt {
        display: flex;
        align-items: center;
        width: 11em;
        font-size: 0.7em;
        border: 2px solid $color--sec1;
    background-color: $color--sec1;
    border-radius: 0;
    position: relative;
    z-index: 2;

    }
    &--trans {
        background: transparent;
        border: none;
    }
    &:hover {
        background-color: #fff;
        border: 2px solid #fff;
        color: #000;
    }
}



.card1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px;
    background-color: $color--prim2;
}

.logos_list {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
}

.logo {
    width: 100px;
    &--big {
        width: 250px;
        list-style: none;
    }
    &__image {
        width: 100%;
        filter: invert(1) grayscale(100%) brightness(1060%) contrast(100%) opacity(10%);

    }
}



.subnav {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: green;
    ul {
        height: 3em;
        // background-color: orange;
        display: flex;
    justify-content: space-evenly;
    font-size: 0.9em;
    width: 120%;
    gap: 10px;
    list-style: none;
    text-align: center;
    li {
        &:hover {
            color: $color--prim1;
            background-color: rgba($color: #222, $alpha: 0.5);
        }
        // background-color: red;
        cursor: pointer;
        transition: 50ms;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 10px;
    }
    }
}

.courses {
    margin-top: 80px;
    display: inline-flex;
    gap: 20px;
    max-width: 200vw;
    overflow: scroll;
}

.course {
    position: relative;
    height: 350px;
    min-width: 20em;
    width: 20em;
    border-radius: 10px;
    background-color: $bg__color2;
    display: flex;
    flex-direction: column;
    transition: 500ms;
    // background: url("./img/img3.jpg");
    // background-size: 100%;
    // background-repeat: no-repeat;
    overflow: hidden;
    &__bg {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
    }
    &__top {
        flex: 20;
        padding: 10px;
        position: relative;
        z-index: 0;
        background-color: #0004;
        transition: background 500ms;
    }
    &__text {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 2;
        position: relative;
        z-index: 0;
        background-color: #0004;
        transition: background 500ms;
    }
    &__author{
        &_info {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        &_pic {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background-color: green;
            img {
                width: 100%;
            }
        }
    }

    &:hover {
        transform: translateY(-20px);
        .course__top {
        
            background-color: #0009;
        }
        .course__text {
            background-color: #0009;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 15%;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
            cursor: pointer;
            transition: 200ms;
            &:hover {
                color: $color--prim1;
            }
        }
    }
}

.float--up {
    transition: 800ms;
    img {
        transform: translateY(0px);
        transition: 400ms;
        animation: hover 800ms infinite alternate both;
    }
    &:hover {
        transform: translateY(-20px);
        // img {
        //     animation: hover 800ms infinite alternate both;
        // }
    }
}

@keyframes hover-down {
    to {
        transform: translateY(200px);
    }
}

@keyframes hover {
    to {
        transform: translateY(-20px);
    }
    // from {
    //     transform: translateY(0px);
    // }
}



// TODO



@media screen and (max-width: 768px) {
   
    h1 {
        font-size: 4em;
        line-height: 1em;
    }
    h2 {
        font-size: 4em;
        line-height: 1em;
    }
.navbar {
    // position: relative;
   
    padding: 0 8%;
    height: 10vh;
    z-index: 10;
    
        nav.open {
            transform: scaleY(1);
        }
        &__ham {
            // display: block;
            position: relative;
            z-index: 20;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20px;
            gap: 5px;
            transition: 300ms;
            span {
                height: 2px;
                background-color: #fff;
                transition: 300ms;
                width: 100%;
            }
            &.open {
                position: fixed;
                right: 7%;
                width: 15px;
                
                span {
                    height: 2px;
                    transform: rotate(45deg);
                    transform-origin: left;
                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    nav {
        transition: 500ms;
        transform: scaleY(0);
        transform-origin: top;
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: $color--sec1;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }
    &__search {
        overflow: hidden;
      
        input {
            transform: translate(0%);
        }
    }
    &__links {
        display: flex;
        list-style: none;
        cursor: pointer;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__link{
        &:hover {
            border-bottom: 1px solid #fff;
        }
    }


    --small {
        height: 8vh;
        background-color: $nav__color;
    }
}

.logo {
    width: 100px;
    &--big {
        width: 150px;
        list-style: none;
    }
    &__image {
        width: 100%;
        filter: grayscale(100%) brightness(1097%) contrast(0%) opacity(36%);

    }
}

.sect {
    position: relative;
    min-height: 40vh;
    padding: 30px 20px;
    max-width: 100vw;
    overflow: hidden;
    &__heading {
        margin: 0;
        // MAKE HEADINGS CHANGE ON HOVER
        // UNDERLINE THE HEADINGS WITH PSEUDO
    }
    &__text {
        width: 100%;
        display: flex;
        // background-color: red;
        justify-content: space-between;
        flex-direction: column;
        gap: 15px;
        height: 40vh;
    }
    &__image {
        margin-top: 10px;
        width: 300px;
        height: auto;
        position: relative;
        &::before {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 50%;
            height: 30%;
            content: "";
            background-color: #000900;
            transform: translate(-50%) rotate(-40deg) skew(20deg);
            filter: blur(30px);
            
        }
    }
    &__img {
        &_bg {
            &--right {
                
                width: 100%;
                position: relative;
                top: 40px;
            }
        }
    }
    &__desc {
        text-align: justify;
        width: 100%;
    }
    &__details {
        margin: 5% 0;
    }


    &--prim {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 40px 8%;
        min-height: 80vh;
        border-radius: 0;
        background: $color--prim1;
        background-blend-mode: darken;
        background-size: 100%;
        overflow: visible;
        margin-bottom: 100px;
    }
}
// MOBILE
.hero {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    background-blend-mode: overlay;
    color: white;
    padding: 0 3%;
    height: 100vh;
    gap: 3em;
    position: relative;
    background: url("./img/img1.jpg") scroll #0009;
    background-size: cover;
    
    &__text {
        // flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40% 0;
    }
    &__image {
        display: none;
        background-color: aqua;
        height: 80vh;
        border-radius: 0 0 500px 500px;
        width: 50%;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
}

// Mobile
.nav {
    display: none;

    ul {
        display: flex;
    justify-content: space-evenly;
    font-size: 0.7em;
    width: 120%;
    gap: 40px;
    list-style: none;
    text-align: center;
    li {
        cursor: pointer;
    }
    }
}

.courses {
    margin-top: 80px;
    margin-left: 0px;
}

.course {
    position: relative;
    height: 350px;
    width: 16em;
    display: flex;
    flex-direction: column;
    transition: 500ms;
    // background: url("./img/img3.jpg");
    // background-size: 100%;
    // background-repeat: no-repeat;
    overflow: hidden;
    &__bg {
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
    }
    &__top {
        flex: 20;
        padding: 10px;
        position: relative;
        z-index: 0;
        background-color: #0004;
        transition: background 500ms;
    }
    &__text {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 2;
        position: relative;
        z-index: 0;
        background-color: #0004;
        transition: background 500ms;
    }
    &__author{
        &_info {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        &_pic {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background-color: green;
            img {
                width: 100%;
            }
        }
    }

    &:hover {
        transform: translateY(-20px);
        .course__top {
        
            background-color: #0009;
        }
        .course__text {
            background-color: #0009;
        }
    }
}

footer {
    // display: none;
}

}

@media screen and (min-width: 768px){
    .navbar__link {
        transition: 200ms;
        &:hover {
            color: $color--prim1;
        }
    }
}

// @media screen and (max-width: 600px) {
//     body {
//         display: none;
//     }
// }